<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page!</title>
  </head>
  <body>
    <!-- use header partial -->
    {{> header}}

    <p>This is the page where you find home...</p>
    <!-- helper method first, text you want it to act on after -->
    <p>{{screamIt welcomeMessage}}</p>

    <!-- use footer partial -->
    {{> footer}}
  </body>
</html>
