<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projects Page!</title>
  </head>
  <body>
    <!-- include header partial -->
    {{> header}}

    <p>This is where i will link my projects...</p>

    <!-- include footer partial -->
    {{> footer}}
  </body>
</html>
